/* @import "~antd/dist/antd.css"; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropdown {
  width: 100%;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -10;
}

.autocomplete {
  width: 360px;
  height: 34px;
  border-radius: 10px;
}

.ant-select-dropdown {
  background: pink;
}

.ant-select-show-search.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 34px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .ant-row {
    transform: scale(0.9);
  }

  .dropdown {
    transform: scale(0.9);
    width: 292px;
    overflow-x: scroll;
  }

  /* .autocomplete {
    width: 292px;
  } */
}
